<?php
// @codingStandardsIgnoreFile
?>

<?php $packageInfo = $block->getPackageInfo() ?>

<div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-8 text-left packagist-info-composer-name"><div class="label">Composer Package name:</div> <?= $packageInfo['name'] ?></div>
        <div class="col col-xs-12 col-sm-12 col-md-4 text-left text-md-right packagist-info-composer-version"><div class="label">Latest Version:</div> <?= $packageInfo['latest'] ?></div>
</div>
